body {
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.footer {
    display: flex!important;
    z-index: 100!important;
}

.footer>footer {
    position: fixed!important;
    bottom: 0px!important;
    left: 0px!important;
    z-index: 100!important;
    width: 100%;
}

/* w3-css small screen point */

@media only screen and (max-width:601px) {
    .footer>footer {
        position: static!important;
        margin-top: 32px;
    }
    .footer>#bottom_padding {
        display: none!important;
    }
}

.onTop {
    z-index: 100;
    background-color: #707070 !important;
}

.grayout {
    /* Real browsers */
    opacity: 0.6;
    /* MSIE */
    filter: alpha(opacity=60);
    cursor: not-allowed;
}

.fullWidth {
    width: 100%;
}

.keyWidth {
    width: 10em;
}

.defaultCursor {
    cursor: default
}

.codeArea {
    max-width: 80%;
}

.fitInParent {
    max-width: 100%;
}

.center {
    display: block;
    margin: 0 auto !important;
    text-align: center !important;
}

@media print {
    .print-hide {
        display: none!important;
    }
}

.placeholder {
    height: 3em;
    line-height: 1.2em;
    border: 1px dashed black;
}

.draggabble_handle {
    cursor: -webkit-grab;
}