body {
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.footer {
    display: flex!important;
    z-index: 100!important;
}

.footer>footer {
    position: fixed!important;
    bottom: 0px!important;
    left: 0px!important;
    z-index: 100!important;
    width: 100%;
}

/* w3-css small screen point */

@media only screen and (max-width:601px) {
    .footer>footer {
        position: static!important;
        margin-top: 32px;
    }
    .footer>#bottom_padding {
        display: none!important;
    }
}

.onTop {
    z-index: 100;
    background-color: #707070 !important;
}

.grayout {
    /* Real browsers */
    opacity: 0.6;
    /* MSIE */
    filter: alpha(opacity=60);
    cursor: not-allowed;
}

.fullWidth {
    width: 100%;
}

.keyWidth {
    width: 10em;
}

.defaultCursor {
    cursor: default
}

.codeArea {
    max-width: 80%;
}

.fitInParent {
    max-width: 100%;
}

.center {
    display: block;
    margin: 0 auto !important;
    text-align: center !important;
}

@media print {
    .print-hide {
        display: none!important;
    }
}

.placeholder {
    height: 3em;
    line-height: 1.2em;
    border: 1px dashed black;
}

.draggabble_handle {
    cursor: -webkit-grab;
}

/* Region: Rounded slider */
/* The switch - the box around the slider */
.rounded_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .rounded_switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* endRegion -- Rounded slider */

.may-break-space {
    white-space: pre-wrap;
}