---
layout: basic
---
{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
{% assign numbers = "0123456789" | split: "" %}
<datalist id="specialKeys">
    <option value="LButton">
    <option value="RButton">
    <option value="Space">
    <option value="MButton">
    <option value="WheelDown">
    <option value="WheelUp">
    <option value="Escape">
    {% for letter in alphabet %}
    <option value="{{ letter }}"></option>
    <option value="{{ letter | downcase }}"></option>{% endfor %}
    {% for digit in numbers %}
    <option value="{{ digit }}"></option>{% endfor %}
</datalist>
<form id="hotkeyForm">
    <input type="hidden" id="indexes" name="indexes" value="" />
    <div class="w3-row w3-dark-grey w3-center">
        <div class="w3-col m6 w3-hide-small">
            Key/String
        </div>
        <div class="w3-col m6 w3-hide-small">
            Action
        </div>
    </div>
    <div id="skipToScript" class="w3-row w3-hide w3-margin">
        <div class="w3-col s12">
            <button type="button" class="w3-btn" style="float:left;" onclick="scrollToCode();">Skip to script
                region</button>
        </div>
    </div>
    <div id="hotkeyRegion">
    </div>
    <div id="newRow" class="w3-row w3-padding-bottom">
        <div class="w3-col s12 w3-center">
            <button type="button" id="btnAdd" class="w3-btn" onclick="newRow(); markDirty()" title="Add row"><i
                    class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="w3-row w3-padding-top w3-margin-top">
        <div class="w3-col s4">
            <button type="submit" class="w3-btn" title="Generate script" id="btnSubmit">Submit!</button>
        </div>
        <div class="w3-col s4">
            <button type="button" id="btnTop" class="w3-btn center" title="Scroll to top of config"
                onClick="scrollToTop();">
                Scroll to top
            </button>
        </div>
        <div class="w3-col s4">
            <button type="button" download="hotkeys.ahk" class="w3-hide w3-btn js_download_btn" style="float:right"
                title="Click to download AHK script"
                onClick="download();"
                disabled>Download</button>
            <a id="downloadLink" href='#downloadLink' download="hotkeys.ahk" class="w3-hide">download</a>
        </div>
    </div>
</form>
<div class="w3-row-padding w3-margin w3-padding-16 w3-border w3-border-black">
    <div class="w3-col w3-hide-small l1">&nbsp;</div>
    <div class="w3-col w3-center l3">
        <a target="_blank" class="w3-btn w3-round" href="https://www.buymeacoffee.com/mshafer1">
            Buy me a coffee
        </a>
    </div>
    <div class="w3-col l1">&nbsp;</div>
    <div class="w3-col w3-center l3">
        &nbsp;
    </div>
    <div class="w3-col l1">&nbsp;</div>
    <div class="w3-col w3-center l3">
        <div class="w3-container">
            <div class="w3-dropdown-hover">
                <button class="w3-btn">?</button>
                <div class="w3-dropdown-content w3-bar-block w3-border w3-padding-small">
                    <p>
                        Rather than poluting this tool with ads., these links allow you to support development of this
                        and similar tools directly or indirectly.
                        <br />
                        Read more on <a class="w3-black w3-text-white" target="_blank"
                            href="http://techit.mandmshafer.com/support">my blog.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w3-row">
    <div class="w3-col w3-center s4">&nbsp;</div>
    <div class="w3-col w3-center s4">&nbsp;</div>
    <div class="w3-col w3-center s4">
        <button type="button" download="hotkeys.ahk" class="w3-hide w3-btn js_download_btn" style="float:right"
            title="Click to download AHK script"
            onClick="download();"
            disabled>Download</button>
    </div>

</div>
<div id="scriptZone" class="w3-border w3-hide w3-margin fitInParent" contenteditable="true">
</div>
<div class="w3-row">
    <div class="w3-col w3-center s4">&nbsp;</div>
    <div class="w3-col w3-center s4">&nbsp;</div>
    <div class="w3-col w3-center s4">
        <button type="button" download="hotkeys.ahk" class="w3-hide w3-btn js_download_btn" style="float:right"
            title="Click to download AHK script"
            onClick="download();"
            disabled>Download</button>
    </div>
</div>
