<div class="w3-row w3-padding-bottom">
    <div class="w3-col m3 s6">
        <span class="w3-left w3-padding-left">
            <a href="/about.html" class="w3-btn">About</a>
            <a href="/" class="w3-btn">Home</a>
            <span class="w3-dropdown-hover">
                <button class="w3-btn">Community <i id="arrowComm" class="fa fa-caret-right"
                        aria-hidden="true"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-border w3-dark-grey">
                    <a href="https://discord.gg/kfdPZAs" target="_blank" class="w3-bar-item w3-btn w3-light-grey">
                        <img src="/images/discord.svg" alt="discord logo" class="icon"
                            title="Join our discord server" />
                    </a>
                    <a href="https://github.com/mshafer1/AHK-generator" target="_blank"
                        class="w3-bar-item w3-btn w3-light-grey w3-margin-top">
                        <img src="images/github.png" alt="github logo" class="icon"
                            title="View source and report issues on Githug" />
                    </a>
                </div>
            </span>
        </span>
    </div>
    <div class="w3-col m2 w3-hide-small">
        <span class="w3-center">
            Example configuration <a href="/defaultconfig.html" rel="nofollow">here</a>.
        </span>
    </div>
    <div class="w3-col m3 w3-center s6">Visit <a href="https://autohotkey.com/" target="_blank">AutoHotkey.com</a> for
        more details</div>
    <div class="w3-col m2 s6">
        <span style="text-align:left; float:left;"><a href="mailto:admin@ahkgen.com">Email us</a>
            or post an issue on
            <a href="https://github.com/mshafer1/AHK-generator/issues/new" target="_blank">Github</a> for bug reports
            and feature requests.</span>
    </div>
    <div class="w3-col m2 s6">
        <span style="text-align:right; float:right;">Source available at <a
                href="https://github.com/mshafer1/AHK-generator" target="_blank">Github.com</a></span>
    </div>
</div>