<div id="modalDialogue" class="w3-modal">
    <div class="w3-modal-content w3-grey">
        <header class="w3-container w3-black w3-text-white">
            <span onclick="$('#modalDialogue').removeClass('w3-show');"
                class="w3-btn w3-display-topright" id="modalDialogue_closeSection">&times;</span>
            <h2 id="modalDialogue_header"></h2>
        </header>

        <div class="w3-container" id="modalDialogue_message">
        </div>

        <footer class="w3-container w3-dark-gray w3-padding" id="modalDialogue_footer">
        </footer>
    </div>
</div>