<div class=" w3-dark-grey w3-padding printHide" style="display:none;" id="trackingDismiss">
    By using this site, you agree to have <b>anonymized</b> data collected on your use of the site. For details or to
    opt out, click <a class="" href="/about.html">here</a>
    <div><button class="w3-btn" onclick="dismiss()">Dismiss</button></div>

    <span>We use this to help us understand how we are doing on getting the word out, and what browsers we should be
        testing against to make sure the site works for all our users.</span>
    <!-- dismiss footer -->
</div>


<script>

    var dismiss_cookie = 'dismiss'
    var opt_out_cookie = 'opt_out'

    // from https://stackoverflow.com/a/5762713
    function loadjscssfile(filename, filetype) {
        if (filetype == "js") { //if filename is a external JavaScript file
            var fileref = document.createElement('script')
            fileref.setAttribute("type", "text/javascript")
            fileref.setAttribute("src", filename)
        }
        else if (filetype == "css") { //if filename is an external CSS file
            var fileref = document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)
        }
        if (typeof fileref != "undefined")
            document.getElementsByTagName("head")[0].appendChild(fileref)
    }

    function loadTracking() {
        loadjscssfile("/scripts/GA.js", "js") //dynamically load and add this .js file
    }

    // on dismiss, load GA.js
    function dismiss(from_cookie = false) {
        $('#trackingDismiss').fadeOut(500)

        // if caused by user action, store cookie to prevent re-asking
        if (!from_cookie) {
            setCookie(dismiss_cookie, true, 90)
        }
    }

    function optOut(from_cookie = false) {
        // GA provided method to disable tracking for this user: 
        // https://developers.google.com/analytics/devguides/collection/analyticsjs/user-opt-out
        window['ga-disable-UA-XXXXX-Y'] = true;
        dismiss(from_cookie);

        if (!from_cookie) {
            setCookie(opt_out_cookie, true, 365);
        }
    }

    function checkCookie() {
        cookieVal = getCookie(dismiss_cookie);
        dismissVal = JSON.parse(cookieVal);

        cookieVal = getCookie(opt_out_cookie);
        optOutVal = JSON.parse(cookieVal);

        if (optOutVal) {
            optOut(true);
            return; // user has opted out, just stop.
        }

        loadTracking();

        if (!dismissVal) {
            $('#trackingDismiss').fadeIn(500)
        }
    }

    $(window).ready(checkCookie);
</script>